---
permalink: /feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:lang="en">
  <title>Crewlo Journal</title>
  <subtitle>Notes from the studio, by Hafid Idrissi.</subtitle>
  <link href="https://hafididrissi.github.io/Crewlo/blog/feed.xml" rel="self" />
  <link href="https://hafididrissi.github.io/Crewlo/blog/" />
  <updated>{{ collections.crewloPosts[0].date | isoDate }}</updated>
  <id>https://hafididrissi.github.io/Crewlo/blog/</id>
  <author><name>Hafid Idrissi</name><uri>https://github.com/HafidIdrissi</uri></author>
{% for post in collections.crewloPosts %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="https://hafididrissi.github.io/Crewlo/blog/{{ post.data.slug }}/" />
    <id>https://hafididrissi.github.io/Crewlo/blog/{{ post.data.slug }}/</id>
    <published>{{ post.date | isoDate }}</published>
    <updated>{{ (post.data.updated or post.date) | isoDate }}</updated>
    <category term="{{ post.data.categoryLabel }}" />
    <summary>{{ post.data.description }}</summary>
  </entry>
{% endfor %}
</feed>
