---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url><loc>https://hafididrissi.github.io/Crewlo/</loc></url>
  <url><loc>https://hafididrissi.github.io/Crewlo/install.html</loc></url>
  <url><loc>https://hafididrissi.github.io/Crewlo/use-cases.html</loc></url>
  <url><loc>https://hafididrissi.github.io/Crewlo/crewlo/launch-kit/use-cases/playbooks/GETTING-STARTED.en.html</loc></url>
  <url><loc>https://hafididrissi.github.io/Crewlo/crewlo/launch-kit/use-cases/playbooks/01-taskboard.en.html</loc></url>
  <url><loc>https://hafididrissi.github.io/Crewlo/crewlo/launch-kit/use-cases/playbooks/02-clientflow.en.html</loc></url>
  <url><loc>https://hafididrissi.github.io/Crewlo/crewlo/launch-kit/use-cases/playbooks/03-launchpage.en.html</loc></url>
  <url><loc>https://hafididrissi.github.io/Crewlo/crewlo/launch-kit/use-cases/playbooks/04-filming.en.html</loc></url>
  <url><loc>https://hafididrissi.github.io/Crewlo/project-status.html</loc></url>
  <url><loc>https://hafididrissi.github.io/Crewlo/messaging-setup.html</loc></url>
  <url><loc>https://hafididrissi.github.io/Crewlo/privacy.html</loc></url>
  <url><loc>https://hafididrissi.github.io/Crewlo/terms.html</loc></url>
  <url><loc>https://hafididrissi.github.io/Crewlo/data-deletion.html</loc></url>
  <url><loc>https://hafididrissi.github.io/Crewlo/blog/</loc></url>
{% for post in collections.crewloPosts %}
  <url><loc>https://hafididrissi.github.io/Crewlo/blog/{{ post.data.slug }}/</loc><lastmod>{{ (post.data.updated or post.date) | htmlDate }}</lastmod></url>
{% endfor %}
</urlset>
